 <div>
    <div class="footer-clean">
          <footer> 
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3 item text-center">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Gift Cards
                            </a></li>
                            <li><a href="#">Customer Support</a></li>
                            <li><a href="#">Secure Payments</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item text-center">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Legacy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-3 item text-center">
                        <h3>Careers</h3>
                        <ul>
                            <li><a href="#">Job openings</a></li>
                            <li><a href="#">Employee success</a></li>
                            <li><a href="#">Benefits</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 item social text-center">
                        <a href="#"><i class="icon ion-social-facebook"></i></a>
                        <a href="#"><i class="icon ion-social-twitter"></i></a>
                        <a href="#"><i class="icon ion-social-snapchat"></i></a>
                        <a href="#"><i class="icon ion-social-instagram"></i></a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <p class="copyright">GLOWING © 2024</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</div>
