
  <div class="login-container">
	<div class="content">
	  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form pt-30 rounded">
		<h2 class="text-center mb-4">Login</h2>
		<div class="mb-3">
		  <input formControlName="email" class="form-control" placeholder="Email" type="email" required />
		</div>
		<div class="mb-3">
		  <input formControlName="password" class="form-control" placeholder="Password" type="password" required />
		</div>
		<button type="submit" class="btn btn-primaryy  w-100">Login</button>
		<div class="text-center mt-3">
		  <a href="/register" class="sign-up-link">Don't have an account? Sign Up</a>
		</div>
	  </form>
	  <div class="video-container">
		<video loop muted autoplay>
		  <source src="assets/video.mp4" type="video/mp4">
		  Your browser does not support the video tag.
		</video>
	  </div>
	</div>
  </div>
